/cmake-build-debug/.cmake/api/v1/query/cache-v2
/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
/cmake-build-debug/.cmake/api/v1/reply/cache-v2-7512f5b9399af272d3b6.json
/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-da1971954a54ddab2e81.json
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-aa4cc2e654e51eb577cc.json
/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
/cmake-build-debug/.cmake/api/v1/reply/index-2024-11-01T13-07-15-0498.json
/cmake-build-debug/.cmake/api/v1/reply/target-Phonebook-Debug-5614c975ac673a7b5c49.json
/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-e35c2bdc62c44a5e761f.json
/cmake-build-debug/CMakeFiles/3.29.6/CompilerIdC/a.exe
/cmake-build-debug/CMakeFiles/3.29.6/CompilerIdC/CMakeCCompilerId.c
/cmake-build-debug/CMakeFiles/3.29.6/CompilerIdCXX/a.exe
/cmake-build-debug/CMakeFiles/3.29.6/CompilerIdCXX/CMakeCXXCompilerId.cpp
/cmake-build-debug/CMakeFiles/3.29.6/CMakeCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.29.6/CMakeCXXCompiler.cmake
/cmake-build-debug/CMakeFiles/3.29.6/CMakeDetermineCompilerABI_C.bin
/cmake-build-debug/CMakeFiles/3.29.6/CMakeDetermineCompilerABI_CXX.bin
/cmake-build-debug/CMakeFiles/3.29.6/CMakeRCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.29.6/CMakeSystem.cmake
/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
/cmake-build-debug/CMakeFiles/clion-environment.txt
/cmake-build-debug/CMakeFiles/cmake.check_cache
/cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
/cmake-build-debug/CMakeFiles/rules.ninja
/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/cmake-build-debug/Testing/Temporary/LastTest.log
/cmake-build-debug/build.ninja
/cmake-build-debug/cmake_install.cmake
/cmake-build-debug/CMakeCache.txt
/cmake-build-debug/CMakeFiles/Phonebook.dir/src/ContactData.cpp.obj
/cmake-build-debug/CMakeFiles/Phonebook.dir/src/main.cpp.obj
/cmake-build-debug/.ninja_deps
/cmake-build-debug/.ninja_log
/cmake-build-debug/Phonebook.exe
